.section-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.expand-btn {
    height: 20px;
}

.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.section-content.expanded {
    max-height: 1000px;
    /* Adjust the value to fit your content's height */
}