@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Gloria+Hallelujah&family=Raleway:wght@600&display=swap');

/* font-family: 'Roboto',
sans-serif; */
header {
  background-color: #b7b0c7;
  font-size: 3.5rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-family: 'Cherry Bomb One', cursive;
  color: #fbfbfb;
  pointer-events: none;
  box-shadow: 0 6px 10px #d4d0dd;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3em auto;
}

.section-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e6d9;
  padding: 10px 0 10px 25px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.25em;
  color: #3f3e42;
  border-radius: 3px;
  border: 2px solid #d1cfc3;
}

.expand-btn {
  font-family: 'Cherry Bomb One', cursive;
  border: none;
  background-color: #e8e6d9;
  font-size: 1.5em;
  margin-right: 25px;
  color: #3f3e42;
  cursor: grab;
}

.expand-btn:hover {
  opacity: 0.8;
}

.personal-section,
.education-section,
.work-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.section-content {
  width: 80%;
  background-color: rgb(239, 237, 225, 0.6);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
  padding: 0 25px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #d1cfc3;
}


.section-content.expanded {
  max-height: 100%;
}

.degree-form,
.job-form {
  border-bottom: 2px dashed #a7a69c;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

span {
  color: red;
}

body {
  background-image: url('../src/assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  width: 300px;
  margin: 5px;
  padding: 3px 0 3px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

textarea {
  resize: none;
}

.submit-button {
  background-color: #667e65;
  color: #fbfbfb;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 5px 15px;
  border: 1px solid #5c715b;
  border-radius: 3px;
  margin: 10px 10px 10px auto;
  align-self: flex-end;
}

.submit-button:hover,
.add-button:hover,
.edit-button:hover,
.job-form>button:hover,
.degree-form>button:hover {
  cursor: grab;
  opacity: 0.9;
}

.add-button {
  background-color: #928d9f;
  color: #fbfbfb;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 5px 15px;
  border: 1px solid #837f8f;
  border-radius: 3px;
  margin: 10px;
}

.edit-button {
  background-color: #7895B2;
  color: #fbfbfb;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 5px 15px;
  border: 1px solid #6c86a0;
  border-radius: 3px;
  margin: 10px;
}

.job-form>button,
.degree-form>button {
  background-color: #965050;
  color: #fbfbfb;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 5px 15px;
  border: 1px solid #874848;
  border-radius: 3px;
  margin: 10px;
}

footer {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  gap: 10px;
  padding: 1em 0 0.5em;
  letter-spacing: 2px;
}

.fa-github {
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 850px) {

  .field {
    flex-direction: column;
  }
}