@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Gloria+Hallelujah&family=Raleway:wght@200;400;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: url('../src/assets/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
  min-width: 465px;
}

span {
  color: red;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-user,
.fa-graduation-cap,
.fa-briefcase,
.fa-trash,
.fa-plus,
.fa-pen {
  width: 35px;
  margin-left: 0;
}

input,
textarea {
  width: 60%;
  margin: 5px 0 5px auto;
  padding: 3px 5px 3px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

textarea {
  resize: none;
}


/* Header */

header {
  background-color: #b7b0c7;
  font-size: 3.5rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-family: 'Cherry Bomb One', cursive;
  color: #fbfbfb;
  pointer-events: none;
  box-shadow: 0 4px 8px #d4d0dd;
}

.header-title {
  text-shadow: 0 1px 5px #66626f;
  letter-spacing: 2px;
}


/* Main */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3em auto;
}

.section-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e6d9;
  padding: 10px 0 10px 25px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.25em;
  color: #3f3e42;
  border-radius: 3px;
  border: 2px solid #d1cfc3;
}

.expand-btn {
  font-family: 'Cherry Bomb One', cursive;
  border: none;
  background-color: #e8e6d9;
  font-size: 1.5em;
  margin-right: 25px;
  color: #3f3e42;
  cursor: grab;
}

.expand-btn:hover {
  opacity: 0.8;
}

.personal-section,
.education-section,
.work-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.section-content {
  width: 80%;
  background-color: rgba(239, 237, 225, 0.6);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  padding: 0 25px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #d1cfc3;
}

.section-buttons {
  display: flex;
}

.section-content.expanded {
  max-height: 2000px;
}

.degree-form,
.job-form {
  border-bottom: 2px dashed #a7a69c;
}

/* Buttons */
.submit-button,
.add-button,
.edit-button,
.job-form>button,
.degree-form>button {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 5px 15px;
  border-radius: 3px;
  margin: 10px 0 10px auto;
  display: flex;
  color: #fbfbfb;
  cursor: pointer;
  border: 1px solid;
}

.submit-button {
  background-color: #667e65;
  border-color: #5c715b;
}

.add-button {
  background-color: #928d9f;
  border-color: #837f8f;
  margin: 10px auto 10px 0;
}

.edit-button {
  background-color: #7895B2;
  border-color: #6c86a0;
}

.job-form>button,
.degree-form>button {
  background-color: #965050;
  border-color: #874848;
}

.submit-button:hover,
.add-button:hover,
.edit-button:hover,
.job-form>button:hover,
.degree-form>button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

/* Preview */
.preview-personal,
.preview-education,
.preview-work {
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  width: 80%;
  background-color: white;
  min-width: 460px;
}

.preview-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-family: 'Raleway', sans-serif;
  color: #3f3e42;
  min-width: 460px;
}

.preview-personal {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.preview-name {
  text-align: center;
  color: #3f3e42;
}

.preview-contact-info {
  display: flex;
  justify-content: center;
  gap: 0.75em;
}

.preview-education,
.preview-work {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.preview-degree,
.preview-job {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.preview-school-title>*,
.preview-job-info>* {
  margin-bottom: 7px;
}

.degree-title,
.job-title {
  font-style: italic;
}

.uni-title,
.company-title {
  font-weight: 600;
}

.preview-job-info {
  width: 60%;
}

.job-desc {
  overflow-wrap: break-word;
  font-weight: 200;
}

.personal-summary,
.job-desc {
  text-align: justify;
}

/* Footer */
footer {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  gap: 0.4em;
  padding: 1em 0 0.5em;
  letter-spacing: 2px;
}

.fa-github {
  font-size: 20px;
  color: #a59eb3;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Media Queries */
@media (max-width: 850px) {

  .preview-personal,
  .preview-education,
  .preview-work,
  .preview-bar {
    width: 95%;
  }

  input,
  textarea {
    width: 300px;
  }

  .field {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-content.expanded {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .field {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-buttons {
    justify-content: space-between;
  }

  .personal-section,
  .education-section,
  .work-section {
    width: 95%;
  }
}