.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.right-side,
.left-side {
  width: 50%;
}

.section-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-section,
.education-section,
.work-section {
  width: 90%;
}

.field {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}